
html {
  scroll-behavior: auto !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.w-12.h-12.border-4 {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
