.App {
  text-align: center;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.post h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.post p {
  font-size: 1rem;
  margin-bottom: 10px;
}
